@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark Theme Base */

body {
  background-color: #020617; /* Deep Navy */
  color: #E2E8F0;
  font-family: 'Inter', sans-serif;
}

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

@import 'tailwindcss' source(none);
@source '../**/*.{js,ts,jsx,tsx}';

